.categories-selector {
    display: flex;
    align-items: center;

    select {
        background-color: $midnight;
        color: $neon-pink;
        padding: 1rem 2rem;
        outline: none;
        border: none;
        font-weight: 700;
        font-size: 1.8rem;

        option {
            color: #FFF;
            font-weight: 700;
        }
    }

    &__form {
        display: inline-block;
        margin: auto;
    }
}

.blog-entry {
    margin-top: $gutter-horizontal;
    background-color: $midnight;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    flex-basis: calc( (100% - #{$gutter-horizontal} * 2 ) / 3 );

    @include media-query($medium-down) {
        flex-basis: 100%;
    }

    &__title {
        color: $neon-pink;
    }

    &__text {
        padding: $gutter-vertical-xs $gutter-horizontal-sm;

        & > *:not(:last-child) {
            margin-bottom: $gutter-vertical-xs;
        }
    }
    
    &__link {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: $gutter-vertical-xs;
    }

    img {
        height: auto;
    }
}

.post-categories {
    list-style: none;
}

.page-numbers {
    list-style: none;
    margin-top: $gutter-horizontal-sm;
    display: inline-block;
    margin: $gutter-horizontal-sm auto 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    li {
        display: inline-block;
        &:not(:last-child) {

            margin-right: 2rem;
        }

        & > * {
            text-transform: uppercase;
            font-weight: 700;
            border: 3px solid $neon-pink;
            padding: .5rem 1.5rem;
            letter-spacing: 2px;
            background-color: $midnight;
            color: $neon-pink;
            
            &:hover {
                transition: .2s color;
                color: #FFF;
            }

            &.current,
            &.dots {
                &:hover{
                    color: $neon-pink;
                }
            }

            &:not(.current) {
                border: none;
            }
        }
    }
}